<div class="modal-header">
    <a href="#" class="close js-dismiss">×</a>
    <h3>{{ 'Confirm Deletion' |trans({}, 'ZymThemeBundle') }}</h3>
</div>

<div class="modal-body">
    <p>
        You are about to delete <strong>"{{ themeRule.path |e }}"</strong>.
        This action cannot be undone.<br />
        <strong>Are you sure you want to proceed?</strong>
    </p>
</div>

<div class="modal-footer">
    {{ form_start(form, { 'action': path('zym_theme_theme_rules_delete', 'id': themeRule.id) }) }}
        {{ form_rest(form) }}
        <input type="submit" class="btn btn-danger" value="{{ 'Confirm Deletion' | trans({}, 'ZymThemeBundle') }}" />
        <a href="{{ path('zym_theme_theme_rules') }}" class="btn button">{{ 'Cancel' |trans({}, 'ZymThemeBundle') }}</a>
    {{ form_end(form) }}
</div>
