{% extends 'ZymThemeBundle::layout.html.twig' %}

{% block title %}{{ 'Delete Theme Rule' | trans({}, 'ZymSecurityBundle') }}{% endblock %}

{% block content %}
    <h3>{{ 'Confirm Deletion' |trans({}, 'ZymThemeBundle') }}</h3>

    <p>
        You are about to delete <strong>"{{ themeRule.path |e }}"</strong>.
        This action cannot be undone.<br />
        <strong>Are you sure you want to proceed?</strong>
    </p>

    {{ form_start(form, { 'action': path('zym_theme_theme_rules_delete', 'id': themeRule.id) }) }}
        {{ form_rest(form) }}
        <fieldset class="form-actions">
            <input class="btn btn-danger" type="submit" value="{{ 'Delete' | trans }}" />
            <a href="{{ path('zym_theme_theme_rules') }}" class="btn button">{{ 'Cancel' |trans({}, 'ZymThemeBundle') }}</a>
        </fieldset>
    {{ form_end(form) }}
{% endblock %}
