{% extends 'ZymSecurityBundle::layout.html.twig' %}

{% block title %}{{ 'Edit ACL Entry' | trans({ }, 'ZymSecurityBundle') }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ 'Edit ACL Entry' | trans({}, 'ZymSecurityBundle') }}
            <small>{{ aclClass.classType |e }}</small>
        </h1>
    </div>

    <div class="btn-toolbar">
        <div class="btn-group">
            <a class="btn" href="javascript: history.back();">
                <i class="icon-arrow-left"></i>
                {{ 'Back' | trans({}, 'ZymSecurityBundle') }}
            </a>
        </div>
    </div>

    {{ form_start(form, { 'action': path('zym_security_acl_entries_edit', { 'classType' : aclClass.type, 'index' : index }), 'attr': { 'class': 'form-horizontal' } }) }}
        {{ form_rest(form) }}
        <fieldset class="form-actions">
            <button type="submit" class="btn btn-primary">{{ 'Save changes' | trans({}, 'ZymSecurityBundle') }}</button>
            <button type="button" class="btn" onclick="history.back();">{{ 'Cancel' | trans({}, 'ZymSecurityBundle') }}</button>
        </fieldset>
    {{ form_end(form) }}
{% endblock %}
