{% extends 'ZymSecurityBundle::layout.html.twig' %}

{% block title %}{{ 'ACL Entries' | trans({}, 'ZymSecurityBundle') }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ 'ACL Entries' | trans({}, 'ZymSecurityBundle') }}
            <small>{{ 'Manage permissions' | trans({}, 'ZymSecurityBundle') }}
        </h1>
    </div>

    <div class="btn-toolbar">
        {#
        <div class="btn-group">
            {% if is_granted('CREATE', ['class', 'Zym\\Bundle\\SecurityBundle\\Entity\\AclClass']) %}
            <a  class="btn" href="{{ path('zym_security_acl_entries_add') }}">
                <i class="icon-plus"></i>
                {{ 'New Permission' | trans({}, 'ZymSecurityBundle') }}
            </a>
            {% endif %}
        </div>
        #}

        <div class="btn-group">
            <a class="btn" href="{{ path('zym_security_acl_roles') }}">
                <i class="icon-user"></i>

                {{ 'Roles' | trans({}, 'ZymSecurityBundle') }}
            </a>
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    {% if is_granted('CREATE', ['class', 'Zym\\Bundle\\SecurityBundle\\Entity\\AclSecurityIdentity']) %}
                    <a href="{{ path('zym_security_acl_roles_add') }}">
                        <i class="icon-plus"></i>
                        {{ 'Add Role' | trans({}, 'ZymSecurityBundle') }}
                    </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>

    {% for oid in acls %}
    <h3>{{ oid.type }}</h3>

    <h4>Class Permissions</h4>

    <div class="btn-toolbar">
        <div class="btn-group">
            {% if is_granted('CREATE', ['class', 'Zym\\Bundle\\SecurityBundle\\Entity\\AclClass']) %}
            <a  class="btn" href="{{ path('zym_security_acl_entries_add', { 'classType': oid.type }) }}">
                <i class="icon-plus"></i>
                {{ 'New Permission' | trans({}, 'ZymSecurityBundle') }}
            </a>
            {% endif %}
        </div>
    </div>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>{{ 'Role' |trans({}, 'ZymSecurityBundle') }}</th>
                <th>{{ 'Mask' |trans({}, 'ZymSecurityBundle') }}</th>
                <th>{{ 'Granting' |trans({}, 'ZymSecurityBundle') }}</th>
                <th>{{ 'Granting Strategy' |trans({}, 'ZymSecurityBundle') }}</th>
                <!--
                <th>{{ 'Audit Failure' |trans({}, 'ZymSecurityBundle') }}</th>
                <th>{{ 'Audit Success' |trans({}, 'ZymSecurityBundle') }}</th>
                -->
                <th>{{ 'Actions' |trans({}, 'ZymSecurityBundle') }}</th>
            </tr>
        </thead>

        <tbody>
                {% for aceOrder, ace in acls.offsetGet(oid).classAces %}
                <tr>
                    <td>{{ ace.securityIdentity.role |e }}</td>
                    <td>{{ acl_mask_to_array(ace.mask) |join(', <br />') |raw  }}</td>
                    <td>{{ ace.granting ? 'Yes' : 'No' }}</td>
                    <td>{{ ace.strategy |e }}</td>
                    <!--
                    <td>{{ ace.auditFailure ? 'Yes' : 'No' }}</td>
                    <td>{{ ace.auditSuccess ? 'Yes' : 'No' }}</td>
                    -->
                    <td>
                        <div class="btn-group">
                            {% if is_granted('VIEW', ['class', oid.type]) %}
                            <a class="btn" href="">
                                <i class="icon-share"></i>
                                {{ 'View' |trans({}, 'ZymSecurityBundle') }}
                            </a>
                            {% endif %}

                            {% if is_granted('OPERATOR', ['class', oid.type]) %}
                            <a class="btn" href="{{ path('zym_security_acl_entries_edit', { 'classType': oid.type, 'index': aceOrder }) }}">
                                <i class="icon-edit"></i>
                                {{ 'Edit' |trans({}, 'ZymSecurityBundle') }}
                            </a>
                            <a class="btn" href="{{ path('zym_security_acl_entries_delete', { 'classType': oid.type, 'index': aceOrder }) }}" data-toggle="ajax-modal">
                                <i class="icon-remove"></i>
                                {{ 'Delete' |trans({}, 'ZymSecurityBundle') }}
                            </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
    {% endfor %}


{% endblock %}
