{% extends 'ZymSecurityBundle::layout.html.twig' %}

{% block title %}{{ 'Delete Access Rule' | trans({}, 'ZymSecurityBundle') }}{% endblock %}

{% block content %}
    <h3>{{ 'Confirm Deletion' |trans({}, 'ZymSecurityBundle') }}</h3>

    <p>
        You are about to delete <strong>"{{ accessRule.path |e }}"</strong>.
        This action cannot be undone.<br />
        <strong>Are you sure you want to proceed?</strong>
    </p>

    {{ form_start(form, { 'action': path('zym_security_access_rules_delete'), 'attr': { 'id' : accessRule.id } }) }}
        {{ form_rest(form) }}
        <fieldset class="form-actions">
            <input class="btn btn-danger" type="submit" value="{{ 'Delete' | trans }}" />
            <a href="{{ path('zym_security_access_rules') }}" class="btn button">{{ 'Cancel' |trans({}, 'ZymSecurityBundle') }}</a>
        </fieldset>
    {{ form_end(form) }}
{% endblock %}
