{% extends "ZymRouterBundle::layout.html.twig" %}

{% block title %}{{ 'Add a Route' | trans({}, 'ZymRouterBundle') }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ 'New Route' | trans({}, 'ZymRouterBundle') }}
            <small>{{ 'Create a new route' | trans({}, 'ZymRouterBundle') }}</small>
        </h1>
    </div>

    {{ form_start(form, { 'action': path('zym_router_routes_add'), 'attr': { 'class': 'form-horizontal' } }) }}
        {{ form_rest(form) }}
        <fieldset class="form-actions">
            <button type="submit" class="btn btn-primary">{{ 'Create' | trans({}, 'ZymRouterBundle') }}</button>
            <button type="button" class="btn" onclick="history.back();">{{ 'Cancel' | trans({}, 'ZymRouterBundle') }}</button>
        </fieldset>
    {{ form_end(form) }}
{% endblock %}
