{% extends 'ZymSecurityBundle::layout.html.twig' %}

{% block title %}{{ 'ACL Object Aces' | trans({}, 'ZymSecurityBundle') }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ 'ACL Object Aces' | trans({}, 'ZymSecurityBundle') }}
            <small>{{ 'Manage permissions' | trans({}, 'ZymSecurityBundle') }}
        </h1>
    </div>

    <div class="btn-toolbar">
        <div class="btn-group">
            <a class="btn" href="javascript: history.back();">
                <i class="icon-arrow-left"></i>
                {{ 'Back' | trans({}, 'ZymSecurityBundle') }}
            </a>
        </div>

        <div class="btn-group">
            {% if is_granted('MASTER', oid) %}
            <a  class="btn" href="{{ path('zym_security_acl_entries_add', { "classType": oid.type }) }}">
                <i class="icon-plus"></i>
                {{ 'New Permission' | trans({}, 'ZymSecurityBundle') }}
            </a>
            {% endif %}
        </div>
    </div>

    <h3>
        {{ oid.type }}
        <small>{{ oid.identifier }}</small>
    </h3>

    <h4>Class Permissions</h4>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>{{ 'Role' |trans({}, 'ZymSecurityBundle') }}</th>
                <th>{{ 'Mask' |trans({}, 'ZymSecurityBundle') }}</th>
                <th>{{ 'Granting' |trans({}, 'ZymSecurityBundle') }}</th>
                <th>{{ 'Granting Strategy' |trans({}, 'ZymSecurityBundle') }}</th>
                <!--
                <th>{{ 'Audit Failure' |trans({}, 'ZymSecurityBundle') }}</th>
                <th>{{ 'Audit Success' |trans({}, 'ZymSecurityBundle') }}</th>
                -->
                <th>{{ 'Actions' |trans({}, 'ZymSecurityBundle') }}</th>
            </tr>
        </thead>

        <tbody>
                {% for aceOrder, ace in acl.classAces %}
                <tr>
                    <td>{{ ace.securityIdentity.role |e }}</td>
                    <td>{{ acl_mask_to_array(ace.mask) |join(', <br />') |raw }}</td>
                    <td>{{ ace.granting ? 'Yes' : 'No' }}</td>
                    <td>{{ ace.strategy |e }}</td>
                    <!--
                    <td>{{ ace.auditFailure ? 'Yes' : 'No' }}</td>
                    <td>{{ ace.auditSuccess ? 'Yes' : 'No' }}</td>
                    -->
                    <td>
                        <div class="btn-group">
                            {% if is_granted('VIEW', oid.type) %}
                            <a class="btn" href="">
                                <i class="icon-share"></i>
                                {{ 'View' |trans({}, 'ZymSecurityBundle') }}
                            </a>
                            {% endif %}

                            {% if is_granted('OPERATOR', oid.type) %}
                            <a class="btn" href="{{ path('zym_security_acl_entries_edit', { 'classType': oid.type, 'index': aceOrder }) }}">
                                <i class="icon-edit"></i>
                                {{ 'Edit' |trans({}, 'ZymSecurityBundle') }}
                            </a>
                            <a class="btn" href="{{ path('zym_security_acl_entries_delete', { 'classType': oid.type, 'index': aceOrder }) }}" data-toggle="ajax-modal">
                                <i class="icon-remove"></i>
                                {{ 'Delete' |trans({}, 'ZymSecurityBundle') }}
                            </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
        </tbody>
    </table>

    <h4>Object Permissions</h4>

    {% if acl.objectAces |length > 0 %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>{{ 'Role' |trans({}, 'ZymSecurityBundle') }}</th>
                <th>{{ 'Mask' |trans({}, 'ZymSecurityBundle') }}</th>
                <th>{{ 'Granting' |trans({}, 'ZymSecurityBundle') }}</th>
                <th>{{ 'Granting Strategy' |trans({}, 'ZymSecurityBundle') }}</th>
                <!--
                <th>{{ 'Audit Failure' |trans({}, 'ZymSecurityBundle') }}</th>
                <th>{{ 'Audit Success' |trans({}, 'ZymSecurityBundle') }}</th>
                -->
                <th>{{ 'Actions' |trans({}, 'ZymSecurityBundle') }}</th>
            </tr>
        </thead>

        <tbody>
                {% for aceOrder, ace in acl.objectAces %}
                <tr>
                    <td>
                        {% if ace.securityIdentity.role is defined %}
                            {{ ace.securityIdentity.role |e }}
                        {% elseif ace.securityIdentity.username is defined %}
                            {{ ace.securityIdentity.username |e }}
                        {% else %}
                            {{ 'Unknown Security Identifier' |trans({}, 'ZymSecurityBundle') }}
                        {% endif %}
                    </td>
                    <td>{{ acl_mask_to_array(ace.mask) |join(', <br />') |raw }}</td>
                    <td>{{ ace.granting ? 'Yes' : 'No' }}</td>
                    <td>{{ ace.strategy |e }}</td>
                    <!--
                    <td>{{ ace.auditFailure ? 'Yes' : 'No' }}</td>
                    <td>{{ ace.auditSuccess ? 'Yes' : 'No' }}</td>
                    -->
                    <td>
                        <div class="btn-group">
                            {% if is_granted('VIEW', oid.type) %}
                            <a class="btn" href="">
                                <i class="icon-share"></i>
                                {{ 'View' |trans({}, 'ZymSecurityBundle') }}</a>
                            {% endif %}

                            {% if is_granted('OPERATOR', oid.type) %}
                            <a class="btn" href="{{ path('zym_security_acl_entries_edit', { 'classType': oid.type, 'index': aceOrder }) }}">
                                <i class="icon-edit"></i>
                                {{ 'Edit' |trans({}, 'ZymSecurityBundle') }}
                            </a>
                            <a class="btn" href="" data-toggle="ajax-modal">
                                <i class="icon-remove"></i>
                                {{ 'Delete' |trans({}, 'ZymSecurityBundle') }}
                            </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No Object Aces...</p>
    {% endif%}
{% endblock %}
