{% extends 'ZymMediaBundle::layout.html.twig' %}

{% block title %}{{ 'Delete Media' | trans({}, 'ZymMediaBundle') }}{% endblock %}

{% block content %}
    <h3>{{ 'Confirm Deletion' | trans({}, 'ZymMediaBundle') }}</h3>

    <p>
        You are about to delete media <strong>"{{ menu.name |e }}"</strong>.
        This action cannot be undone.<br />
        <strong>Are you sure you want to proceed?</strong>
    </p>

    {{ form_start(form, { 'action': path('zym_media_delete', 'id': media.id) }) }}
        {{ form_rest(form) }}
        <fieldset class="form-actions">
            <input class="btn btn-danger" type="submit" value="{{ 'Delete' | trans({}, 'ZymMediaBundle') }}" />
            <a class="btn" href="{{ path('zym_media') }}">{{ 'Cancel' | trans({}, 'ZymMediaBundle') }}</a>
        </fieldset>
    {{ form_end(form) }}
{% endblock %}
