{% extends 'ZymMediaBundle::layout.html.twig' %}

{% block title %}{{ 'Edit Media' | trans({}, 'ZymMediaBundle') }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ 'Edit Media' | trans({}, 'ZymMediaBundle') |e }}
            <small>{{ media.name | trans({}, 'ZymMediaBundle') |e }}</small>
        </h1>
    </div>

    <div class="btn-toolbar">
        <div class="btn-group">
            <a class="btn" href="javascript: history.back();">
                <i class="icon-arrow-left"></i>
                {{ 'Back' | trans({}, 'ZymMediaBundle') }}
            </a>
        </div>

        <div class="btn-group">
            <a class="btn" href="{{ path('zym_security_acl_object_aces', { 'type': 'Zym\\Bundle\\MediaBundle\\Entity\\Media', 'identifier': media.id }) }}">
                <i class="icon-lock"></i>
                {{ 'Permissions' | trans({}, 'ZymMediaBundle') }}
            </a>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <div class="thumbnail">
                {{ media(media) }}
            </div>
        </div>

        <div class="span6">
            {{ form_start(form, { 'action': path('zym_media_edit', 'id': media.id), 'attr': { 'class': 'form-horizontal' } }) }}
                {{ form_rest(form) }}
                <fieldset class="form-actions">
                    <button type="submit" class="btn btn-primary">{{ 'Save changes' | trans({}, 'ZymMediaBundle') }}</button>
                    <button type="button" class="btn" onclick="history.back();">{{ 'Cancel' | trans({}, 'ZymMediaBundle') }}</button>
                </fieldset>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
