{% extends 'ZymMediaBundle::layout.html.twig' %}

{% block title %}{{ 'Media' | trans({}, 'ZymMediaBundle') }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ 'Media' | trans({}, 'ZymMediaBundle') }}
            <small>{{ 'Manage media' | trans({}, 'ZymMediaBundle') }}</small>
        </h1>
    </div>

    <div class="btn-toolbar">
        <div class="btn-group">
            {% if is_granted('CREATE', ['class', 'Zym\\Bundle\\MediaBundle\\Entity\\Media']) %}
            <a class="btn" href="{{ path('zym_media_add') }}">
                <i class="icon-plus"></i>
                {{ 'Add Media' | trans({}, 'ZymMediaBundle') }}
            </a>
            {% endif %}
        </div>
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Preview</th>
                <th>Name</th>
                <th>{{ 'Actions' | trans({}, 'ZymMediaBundle') }}</th>
            </tr>
        </thead>

        <tbody>
        {% for media in medias %}
            {% if is_granted('VIEW', media) %}
            <tr>
                <td>
                    <a href="{{ path('zym_media_show', { 'id': media.id }) }}">
                        {{ media_thumbnail(media, 'admin') }}
                    </a>
                </td>
                <td>
                    <a href="{{ path('zym_media_show', { 'id': media.id }) }}">{{ media.name |e }}</a>
                    <div class="description">{{ media.description | e }}</div>
                </td>
                <td>
                    <div class="btn-group" style="width: 300px">
                        <a class="btn" href="{{ path('zym_media_show', { 'id': media.id }) }}">
                            <i class="icon-share"></i>
                            {{ 'View' | trans({}, 'ZymMediaBundle') }}
                        </a>

                        {% if is_granted('EDIT', media) %}
                        <a class="btn" href="{{ path('zym_media_edit', { 'id': media.id }) }}">
                            <i class="icon-edit"></i>
                            {{ 'Edit' | trans({}, 'ZymMediaBundle') }}
                        </a>
                        {% endif %}

                        {% if is_granted('DELETE', media) %}
                        <a class="btn" href="{{ path('zym_media_delete', { 'id': media.id }) }}" data-toggle="ajax-modal">
                            <i class="icon-remove"></i>
                            {{ 'Delete' | trans({}, 'ZymMediaBundle') }}
                        </a>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    {% if medias | length <= 0 %}
        <p>
            {{ 'No media added yet.' | trans({}, 'ZymMediaBundle') }}

            {% if is_granted('CREATE', ['class', 'Zym\\Bundle\\MediaBundle\\Entity\\Media']) %}
            <a class="" href="{{ path('zym_media_add') }}">{{ 'Add media.' | trans({}, 'ZymMediaBundle') }}</a>
            {% endif %}
        </p>
    {% endif %}

    {{ knp_pagination_render(medias) }}
{% endblock %}
