{% extends 'ZymUserBundle::layout.html.twig' %}

{% block title %}{{ 'Create a user account' | trans({}, 'ZymUserBundle') }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ 'New User' | trans({}, 'ZymUserBundle') }}
            <small>{{ 'Create a new user' | trans({}, 'ZymUserBundle') }}</small>
        </h1>
    </div>

    {{ form_start(form, { 'action': path('zym_user_users_add'), 'attr': { 'class': 'form-horizontal' } }) }}
        <fieldset>
            <legend>{{ 'User Information' | trans({}, 'ZymUserBundle') }}</legend>

            {% if form.children.firstName is defined  %}
            {{ form_row(form.firstName) }}
            {{ form_row(form.middleName) }}
            {{ form_row(form.lastName) }}
            {% endif %}

            {% if form.children.name is defined %}
            {{ form_row(form.children.name) }}
            {% endif %}

            {% if form.children.username is defined %}
            {{ form_row(form.username) }}
            {% endif %}

            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword) }}
        </fieldset>

        <fieldset>
            <legend>{{ 'Groups and Permissions' | trans({}, 'ZymUserBundle') }}</legend>
            {{ form_row(form.groups) }}
            {{ form_row(form.roles) }}
        </fieldset>

        <fieldset>
            <legend>{{ 'Miscellaneous' | trans({}, 'ZymUserBundle') }}</legend>
            {{ form_rest(form) }}
        </fieldset>

        <fieldset class="form-actions">
            <button type="submit" class="btn btn-primary">{{ 'Create' | trans({}, 'ZymUserBundle') }}</button>
            <button type="button" class="btn" onclick="history.back();">{{ 'Cancel' | trans({}, 'ZymUserBundle') }}</button>
        </fieldset>
    {{ form_end(form) }}
{% endblock %}
