{% extends 'ZymUserBundle::layout.html.twig' %}

{% block title %}{{ 'Showing User' | trans({}, 'ZymUserBundle') }} {{ user.fullName is defined ? user.fullName : user.username |e }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ 'Viewing User' | trans({}, 'ZymUserBundle') }} {{ user.fullName is defined ? user.fullName : user.id |e }}
            <small>{{ user.username |e }}</small>
        </h1>
    </div>

    <div class="btn-toolbar">
        <div class="btn-group">
        <a class="btn" href="javascript: history.back()">
            <i class="icon-arrow-left"></i> {{ 'Back' | trans({}, 'ZymUserBundle') }}
        </a>
        </div>

        <div class="btn-group">
            {% if is_granted('EDIT', user) %}
            <a class="btn" href="{{ path('zym_user_users_edit', { "id": user.id }) }}">
                <i class="icon-edit"></i> {{ 'Edit' | trans({}, 'ZymUserBundle') }}
            </a>
            {% endif %}

            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('zym_user_groups_add') }}"><i class="icon-off"></i> {{ 'Disable User' | trans({}, 'ZymUserBundle') }}</a>
                </li>
                <li>
                    <a href="{{ path('zym_user_groups_add') }}"><i class="icon-lock"></i> {{ 'Activate User' | trans({}, 'ZymUserBundle') }}</a>
                </li>


                {% if is_granted('DELETE', user) %}
                <li class="divider"></li>

                <li>
                    <a href="{{ path('zym_user_users_delete', { "id": user.id }) }}" data-toggle="ajax-modal">
                        <i class="icon-remove"></i> {{ 'Delete' | trans({}, 'ZymUserBundle') }}
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>

       <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-tasks"></i>
                {{ 'More'| trans({}, 'ZymUserBundle') }}
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('fos_user_resetting_request', { "username": user.username }) }}"><i class="icon-envelope"></i> {{ 'Send password' | trans({}, 'ZymUserBundle') }}</a>
                </li>
            </ul>
        </div>

        <div class="btn-group">
            {% if is_granted('ROLE_ALLOWED_TO_SWITCH', user) %}
            <a class="btn" href="{{ path('zym_user_users_show', { "id": user.id, "_switch_user": user.username }) }}">
                <i class="icon-user"></i> {{ 'Login as User' | trans({}, 'ZymUserBundle') }}
            </a>
            {% endif %}
        </div>
    </div>

    <div class="page-header">
        <h2>
            Profile
            <small>Information about this user</small>
        </h2>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <dl>
                {% if user.firstName is defined and user.lastName is defined and (user.firstName|length > 0 or user.lastName|length > 0) %}
                    <dt>First Name</dt>
                    <dd>{{ user.firstName |e }}</dd>
                    <dt>Last Name</dt>
                    <dd>{{ user.lastName |e }}</dd>
                {% elseif user.fullName is defined and user.fullName|length > 0%}
                    <dt>Name</dt>
                    <dd>{{ user.fullName |e }}</dd>
                {% endif %}

                {% if user.username != user.email %}
                    <dt>Username</dt>
                    <dd>{{ user.username |e }}</dd>
                {% endif %}

                <dt>Email</dt>
                <dd>
                    <a href="mailto:{{ user.email | url_encode }}">{{ user.email |e }}</a>
                </dd>

                <dt>Time Zone</dt>
                <dd>
                    {{ user.timeZone ?: 'Not set' |e }}
                </dd>
            </dl>
        </div>

        <div class="span6">
            <dl>
                <dt>Enabled</dt>
                <dd>{{ user.isEnabled() ? 'Yes' : 'No' | trans({}, 'ZymUserBundle') }}</dd>

                <dt>Locked</dt>
                <dd>{{ user.isAccountNonLocked() ? 'No' : 'Yes' | trans({}, 'ZymUserBundle') }}</dd>

                <dt>Last Login</dt>
                <dd>{{ user.getLastLogin() ? user.getLastLogin().format(constant('DateTime::ISO8601')) : 'Never' }}</dd>

                <dt>Expired</dt>
                <dd>{{ user.isAccountNonExpired() ? 'No' : 'Yes' | trans({}, 'ZymUserBundle') }}</dd>
            </dl>
           {#} CreatedAt: {{ user.createdAt.format(constant('DateTime::ISO8601')) }}<br />
            UpdatedAt: {{ user.updatedAt.format(constant('DateTime::ISO8601')) }}<br />#}
        </div>
    </div>

    <div class="page-header">
        <h2>
            Permissions
            <small>What this user can do</small>
        </h2>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <h3>Groups</h3>

            <ul class="unstyled">
                {% for group in user.groups %}
                    <li>{{ group.name |e }}</li>
                {% endfor %}
            </ul>

            {% if not user.groups |length %}
            <p>No groups assigned</p>
            {% endif %}
        </div>

        <div class="span6">
            <h3>Roles</h3>

            <ul class="unstyled">
                {% for role in user.roles %}
                    <li>{{ role|e }}</li>
                {% endfor %}
            </ul>

            {% if not user.roles |length %}
            <p>No roles assigned</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
