{% extends 'ZymUserBundle::layout.html.twig' %}

{% block title %}{{ 'Groups' | trans({}, 'ZymUserBundle') }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ 'Groups' | trans({}, 'ZymUserBundle') }}
            <small>{{ 'Manage groups' | trans({}, 'ZymUserBundle') }}</small>
        </h1>
    </div>

    <div class="btn-toolbar">
        <div class="btn-group">
            {% if is_granted('CREATE', ['class', 'Zym\\Bundle\\UserBundle\\Entity\\Group']) %}
            <a class="btn" href="{{ path('zym_user_groups_add') }}">
                <i class="icon-plus"></i>
                {{ 'Add Group' | trans({}, 'ZymUserBundle') }}
            </a>
            {% endif %}
        </div>

        <div class="btn-group">
            <a class="btn" href="{{ path('zym_security_acl_roles') }}">
                <i class="icon-user"></i>

                {{ 'Roles' | trans({}, 'ZymUserBundle') }}
            </a>
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('zym_security_acl_roles_add') }}">
                        <i class="icon-plus"></i>
                        {{ 'Add Role' | trans({}, 'ZymUserBundle') }}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Roles</th>
                <th>{{ 'Actions' | trans({}, 'ZymUserBundle') }}</th>
            </tr>
        </thead>

        <tbody>
            {% for group in groups %}
            <tr>
                <td>{{ group.id |e }}</td>
                <td>{{ group.name |e }}</td>
                <td>{{ group.roles | join(',<br> ')|raw }}</td>
                <td>
                    <div class="btn-group">
                        {#
                        {% if is_granted('VIEW', group) %}
                        <a class="btn" href="{{ path('zym_user_groups_show', { 'id': group.id }) }}">
                            <i class="icon-share"></i>
                            {{ 'View' | trans({}, 'ZymUserBundle') }}
                        </a>
                        {% endif %}
                        #}

                        {% if is_granted('EDIT', group) %}
                        <a class="btn" href="{{ path('zym_user_groups_edit', { 'id': group.id }) }}">
                            <i class="icon-edit"></i>
                            {{ 'Edit' | trans({}, 'ZymUserBundle') }}
                        </a>
                        {% endif %}

                        {% if is_granted('DELETE', group) %}
                        <a class="btn" href="{{ path('zym_user_groups_delete', { "id": group.id }) }}" data-toggle="ajax-modal">
                            <i class="icon-remove"></i>
                            {{ 'Delete' | trans({}, 'ZymUserBundle') }}
                        </a>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if groups | length <= 0 %}
        <p>
            {{ 'No groups added yet.' | trans({}, 'ZymUserBundle') }}

            {% if is_granted('CREATE', ['class', 'Zym\\Bundle\\UserBundle\\Entity\\Group']) %}
            <a class="" href="{{ path('zym_user_groups_add') }}">{{ 'Create a group.' | trans({}, 'ZymGroupBundle') }}</a>
            {% endif %}
        </p>
    {% endif %}


    {{ knp_pagination_render(groups) }}
{% endblock %}
