{% extends 'ZymRuntimeConfigBundle::layout.html.twig' %}

{% block title %}{{ 'Parameters' | trans({}, 'ZymRuntimeConfigBundle') }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1 class="pull-left">
            {{ 'Parameters' | trans({}, 'ZymRuntimeConfigBundle') }}
            <small>{{ 'Manage parameters' | trans({}, 'ZymRuntimeConfigBundle') }}</small>
        </h1>

        <div class="clearfix" style="clear:both"></div>
    </div>

    <div class="btn-toolbar">
        <div class="btn-group">
            {% if is_granted('CREATE', ['class', 'Zym\\Bundle\\RuntimeConfigBundle\\Entity\\Parameter']) %}
            <a class="btn" href="{{ path('zym_runtime_config_parameters_add') }}">
                <i class="icon-plus"></i>
                {{ 'New Parameter' | trans({}, 'ZymRuntimeConfigBundle') }}
            </a>
            {% endif %}
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>{{ 'Actions' | trans({}, 'ZymRuntimeConfigBundle') }}</th>
            </tr>
        </thead>

        <tbody>
        {% for parameter in parameters %}
            {% if is_granted('VIEW', parameter) %}
            <tr>
                <td>
                    <a href="{{ path('zym_runtime_config_parameters_show', { 'name': parameter.name, '_format': 'html' }) }}">{{ parameter.name |e }}</a>
                    <div class="description">{{ parameter.value | json_encode |e }}</div>
                </td>
                <td>
                    <div class="btn-group" style="width: 300px">
                        <a class="btn" href="{{ path('zym_runtime_config_parameters_show', { 'name': parameter.name, '_format': 'html' }) }}">
                            <i class="icon-share"></i>
                            {{ 'View' | trans({}, 'ZymRuntimeConfigBundle') }}
                        </a>

                        {% if is_granted('EDIT', parameter) %}
                        <a class="btn" href="{{ path('zym_runtime_config_parameters_edit', { 'name': parameter.name }) }}">
                            <i class="icon-edit"></i>
                            {{ 'Edit' | trans({}, 'ZymRuntimeConfigBundle') }}
                        </a>
                        {% endif %}

                        {% if is_granted('DELETE', parameter) %}
                        <a class="btn" href="{{ path('zym_runtime_config_parameters_delete', { 'name': parameter.name }) }}" data-toggle="ajax-modal">
                            <i class="icon-remove"></i>
                            {{ 'Delete' | trans({}, 'ZymRuntimeConfigBundle') }}
                        </a>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    {% if parameters | length <= 0 %}
        <p>
            {{ 'No parameters added yet.' | trans({}, 'ZymRuntimeConfigBundle') }}

            {% if is_granted('CREATE', ['class', 'Zym\\Bundle\\RuntimeConfigBundle\\Entity\\Parameter']) %}
            <a class="" href="{{ path('zym_runtime_config_parameters_add') }}">{{ 'Create a parameter.' | trans({}, 'ZymRuntimeConfigBundle') }}</a>
            {% endif %}
        </p>
    {% endif %}

    {{ knp_pagination_render(parameters) }}
{% endblock %}
